<div class="container">
  <div class="badge">
    <button (click)="goToFinalized()" mat-stroked-button color="primary" class="mat-elevation-z5" matBadge="{{ closed }}">
      Tasks finalizadas
    </button>
  </div>

  <button routerLink="create" class="novo-todo mat-elevation-z5" mat-stroked-button color="primary">
    Novo To-Do
  </button>

  <div class="content" *ngFor="let item of list">
    <mat-card class="mat-elevation-z5">
      <p>Data para finalizar: {{ item.dataParaFinalizar }}</p>
      <mat-card-header>
        <mat-card-title>{{ item.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ item.descricao }}</mat-card-subtitle>
      </mat-card-header>

      <div class="actions">
        <button (click)="finish(item)" mat-mini-fab color="primary">
            <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="yellow">
            <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(item.id)" mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
